<div class="mb-4 text-center">
    <h5 class="rider">HOME INSPECTION ADVISORY RIDER</h5>
</div>
<div class="mb-4">
    <p><strong>This document has legal consequences. If you do not understand it, consult your attorney before signing.</strong></p>
    <p>This Home Inspection Advisory Rider is attached to and forms a part of the Residential Real Estate Purchase Agreement between Buyer and Seller.</p>

    <p><strong>For Your Protection: Get a Home Inspection</strong></p>
    <p>A home inspection is highly recommended but not required by law. Buyers are encouraged to engage a professional home inspector to:</p>
    <ul>
        <li>Evaluate the physical condition, structure, and systems of the Property.</li>
        <li>Identify necessary repairs.</li>
        <li>Estimate the remaining life of major components.</li>
    </ul>

    <p><strong>The Appraisal is NOT a Home Inspection:</strong> An appraisal estimates the Property’s market value for the lender and does not evaluate the condition for the Buyer.</p>

    <p><strong>Additional Inspections:</strong> Buyers may request further inspections, including but not limited to radon, health, safety, or energy efficiency tests.</p>

    <p><strong>Acknowledgment:</strong> Buyeracknowledges receipt and understanding of this Home Inspection Advisory Rider.</p>

    <div style="display: flex; justify-content: space-between;">    
        <!-- BUYER Signature -->
        <div style="width: 48%;">
          <h5 >Buyer</h5>
          <p><strong>Signature:</strong><span class=""><%= offer.buyerName %></span></p>
          <p><strong>Printed Name:</strong> <%= offer.buyerName %></p>
          <p><strong>Date:</strong> ________________________________</p>
        </div>      
        <!-- SELLER Signature -->
        <div style="width: 48%;">
          <h5>Buyer</h5>
          <p><strong>Signature:</strong><span class=""><%= offer.buyerName %></span></p>
          <p><strong>Printed Name:</strong> <%= offer.buyerName %></p>
          <p><strong>Date:</strong> ________________________________</p>
        </div>    
      </div>   
</div>