<div class="mb-4">
    <h4>6. CLOSING</h4>
        <p><strong>Closing Date:</strong> <%= offer.closingDate || 'Not specified' %></p>
        <p><strong>Title Company:</strong> <%- offer.titleCompany || 'Not specified' %> <strong>TITLE COMPANY ADDRESS:</strong><%- offer.titleCompanyAddress || 'Not specified' %> </p>
        <p><strong>Closing Costs:</strong> 
            <% if (offer.closingCosts === 'buyer') { %>
                Buyer to pay all customary closing costs.
            <% } else if (offer.closingCosts === 'seller') { %>
                Seller to pay all customary closing costs.
            <% } else if (offer.closingCosts === 'split') { %>
                Buyer and Seller shall each pay fifty percent (50%) of all customary closing costs.
            <% } else if (offer.closingCosts === 'each_pays_own') { %>
                Each party shall be responsible for their respective closing costs.
            <% } else { %>
                Not specified
            <% } %>
        </p>
        <p><strong>Seller Max Concession Amount:</strong> <%= offer.maxConcession || '0' %></p>
        <p class="mt-3">
            Real estate taxes, association dues, rents, special assessments, and all other proratable items shall be prorated as of the Closing Date. Any applicable assessments levied prior to the Closing Date shall be the responsibility of the Seller, while any assessments levied thereafter shall be the responsibility of the Buyer, unless otherwise agreed in writing.
        </p>
        <p class="mt-3">
            Possession of the Property, including all keys, garage door openers, security codes, and access devices, shall be delivered to the Buyer at Closing unless otherwise specified herein.
        </p>
</div>