    <h4>7. SIGNATURES</h4>        
    <div style="display: flex; justify-content: space-between;">    
      <!-- BUYER Signature -->
      <div style="width: 48%;">
        <h5 >Buyer</h5>
        <p><strong>Signature:</strong> ________________________________</p>
        <p><strong>Printed Name:</strong> <%= offer.buyerName || 'Not provided' %></p>
        <p><strong>Date:</strong> ________________________________</p>
      </div>
    
      <!-- SELLER Signature -->
      <div style="width: 48%;">
        <h5>Seller</h5>
        <p><strong>Signature:</strong> ________________________________</p>
        <p><strong>Printed Name:</strong> <%= offer.sellerName || 'Not provided' %></p>
        <p><strong>Date:</strong> ________________________________</p>
      </div>    
    </div>    
    <p>
        <small>This form is provided as a service and does not constitute legal advice. If you do not understand any part of this form, or have any questions regarding it, you should consult with an attorney before signing. Signing this contract creates a legally binding agreement. Once both parties have signed, the contract becomes enforceable.</small>
    </p>